{% extends "Authbase.html" %}

{% block title %}Recuperar Palavra-passe{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'autenticacao/css/LoginStyle.css' %}">

<div class="content-wrapper">
    <div class="login-container">
        <div class="welcome-text">
            <h1>RECUPERAR PALAVRA-PASSE</h1>
            <p class="subtitle">Insira o seu email para recuperar a palavra-passe</p>
        </div>

        <form id="recovery-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <button type="submit" class="login-button">Enviar</button>
        </form>
        
        <p class="back-to-login">
            <a href="{% url 'login' %}" class="underline-link">Voltar para Login</a>
        </p>
    </div>
    <div class="image-container"></div>
</div>


<script src="{% static 'autenticacao/js/recovery.js' %}"></script>
{% endblock %}