{% extends "Authbase.html" %}

{% block title %}Register{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'autenticacao/css/RegisterStyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!-- Adicionar os atributos data-success e data-error no body -->
<body data-success="{% if registration_success %}true{% else %}false{% endif %}" 
      data-error="{% if registration_error %}true{% else %}false{% endif %}">


<div class="content-wrapper">
    <div class="register-container">
        <div class="welcome-text">
            <h1>CRIAR CONTA</h1>
            <p class="subtitle">Junte-se a nós! Preencha os seus dados para começar</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" name="first_name" placeholder="Primeiro Nome" required pattern="^[A-Za-zÀ-ÖØ-öø-ÿ]+$" title="Apenas letras são permitidas (sem números ou caracteres especiais)">
                </div>
                
                <div class="form-group col-md-6">
                    <input type="text" name="last_name" placeholder="Último Nome" required pattern="^[A-Za-zÀ-ÖØ-öø-ÿ]+$" title="Apenas letras são permitidas (sem números ou caracteres especiais)">
                </div>
            </div>
    
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|pt)$" title="Por favor, insira um email válido que termine em .com ou .pt (exemplo: usuario@gmail.com)">
            </div>
    
            <div class="form-group">
                <input type="tel" name="phone_number" placeholder="Número de Telemóvel" required pattern="^\d{9}$" title="Por favor, insira um número de telemóvel válido com 9 dígitos">
            </div>
            
            <div class="form-group password-input-container">
                <div class="input-group-password">
                    <input type="password" id="password" name="password" placeholder="Palavra-passe" required 
                        pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
                        title="A palavra-passe deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula e um símbolo especial">
                    
                    <!-- Ícone do olho para alternar a visibilidade da senha -->
                    <span class="toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </span>
                </div>
                <small class="password-hint">A palavra-passe deve conter pelo menos 8 caracteres, incluindo uma letra maiúscula e um símbolo especial</small>
            </div>
            
    
            <div class="form-group terms-group d-flex align-items-center">
                <div class="custom-checkbox mr-2">
                    <input type="checkbox" id="terms" name="terms" required>
                </div>
                <label for="terms" class="terms-text mb-0">Li e aceito os <a href="#" class="terms-link">Termos e Condições</a></label>
            </div>
    
            <button type="submit" class="register-button">Criar Conta</button>
        </form>
    
        <p class="login-text">
            Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>
        </p>
    </div>
    <div class="image-container"></div>
</div>

<!-- Modal de Sucesso após criação da conta -->
<div id="successModal" class="modal" style="display:none;">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Conta Criada com Sucesso</h2>
        </div>
        <div class="modal-body">
            <p>Conta criada com sucesso! Um email de boas-vindas foi-lhe enviado para o endereço registado.</p>
            <p>Por favor, verifique o seu email para mais detalhes.</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'login' %}" class="login-button">Fazer Login</a>
        </div>
    </div>
</div>

<!-- Modal de Falha após tentativa de criação de conta -->
<div id="errorModal" class="modal" style="display:none;">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Erro na Criação da Conta</h2>
        </div>
        <div class="modal-body">
            <p>Não foi possível criar a sua conta. Por favor, tente novamente mais tarde.</p>
            <p>Se o problema persistir, entre em contato com o suporte.</p>
        </div>
        <div class="modal-footer">
            <button id="closeErrorModalBtn" class="close-button">Fechar</button>
        </div>
    </div>
</div>

</body>

{% endblock %}
