{% extends "Authbase.html" %}

{% block title %}Nova Palavra-passe{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'autenticacao/css/LoginStyle.css' %}">

<div class="content-wrapper">
    <div class="login-container">
        <div class="welcome-text">
            <h1>NOVA PALAVRA-PASSE</h1>
            <p class="subtitle">Defina sua nova palavra-passe</p>
        </div>

        <form id="reset-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="new_password" placeholder="Nova Palavra-passe" required pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
                title="A palavra-passe deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula e um símbolo especial">
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" placeholder="Confirmar Palavra-passe" required pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
                title="A palavra-passe deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula e um símbolo especial">
            </div>

            <button type="submit" class="login-button">Confirmar</button>
        </form>
    </div>
    <div class="image-container"></div>
</div>
<script src="{% static 'autenticacao/js/reset_password.js' %}"></script>
{% endblock %} 