body {
    font-family: Arial, sans-serif;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.purchase-details, .order-summary {
    width: 45%;
    padding: 20px;
    border-radius: 5px;
}

.purchase-details h2,
.order-summary h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-bottom: 20px;
    
}

.checkout-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 50px;
}

.checkout-form input, .checkout-form select, .checkout-form textarea {
    margin-left: 50px;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.order-summary {
    
}

.order-item, .order-subtotal, .order-total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    margin-bottom: 10px;
}

.total-price {
    font-weight: bold;
    font-size: 1.5em;
    color: #e07a5f;
}

.payment-options {
    margin-top: 20px;
}

/* Aumentando o espaçamento entre as opções de pagamento */
.payment-options input[type="radio"] {
    margin-right: 8px;
    margin-bottom: 15px; /* Mais espaço entre as opções */
    margin-top: 15px;
}

/* Ajustando a aparência das descrições com uma fonte mais fina */
.payment-options .descricao {
    font-weight: 300; /* Fonte mais fina */
    font-size: 0.8em; /* Tamanho da fonte um pouco menor */
    color: #666; /* Cor mais suave para a descrição */
    margin-top: 5px; /* Espaço entre o radio button e a descrição */
}

.privacy-policy {
    font-size: 0.8em;
    color: #666;
}

.privacy-policy a {
    color: #007bff;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

/* Botão de pedido ajustado para ser mais pequeno */
.order-button {
    display: block;
    width: 200px; /* Ajuste a largura para o tamanho do conteúdo */
    
    padding: 10px 20px; /* Menos padding para tornar o botão mais pequeno */
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto; /* Centraliza o botão */
    margin-right: auto; /* Centraliza o botão */
}

.order-button:hover {
    background-color: #333;
    color: #fff;
}
