/* Mantém o estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.filter-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 15px;
}

select {
    width: 75%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 50px;
}

.form-range {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    pointer-events: all;
    accent-color: #007bff;
}

#price-min::-webkit-slider-thumb,
#price-max::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
}

.slider-bubble {
    position: absolute;
    top: -40px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    transform: translateX(-50%);
}

.price-display {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #6c757d;
    gap: 5px;
    margin-top: 10px;
}

.price-input {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

/* Estilos para a avaliação com checkboxes */
.rating-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.rating-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating-option input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.rating-option .stars {
    display: flex;
    margin-right: 8px;
}

.rating-option .star {
    font-size: 24px;
    color: #ffc107;
}

.rating-option .star.empty {
    color: #ccc; /* Estrelas vazias em cinza */
}

#price-slider {
    height: 10px; /* Ajuste conforme necessário */
}

#price-slider {
    width: 100%;
    height: 10px;
    background: #ddd; /* ou qualquer cor de fundo */
}