* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100%; /* Ocupa toda a largura */
    height: 40px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin: 0; /* Remove qualquer margem */
    box-sizing: border-box; /* Garante que padding não afete a largura */
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-item {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    color: #333;
    cursor: pointer;
    padding: 5px 20px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-item:hover {
    color: #ffffff; /* Cor no hover */
    /*border-bottom: 2px solid #0073e6; Borda inferior no hover */
    background-color: #007bff;
    border-radius: 10px;
}

a{
    text-decoration: none !important;
}

ul{
    margin-bottom: 0px !important;
}

