{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'brand/css/brand.css' %}">
{% endblock %}

{% block content %}
    <div class="brand-card">
        <div class="image-wrapper">
            <!-- Exibe a imagem da marca da base de dados, se disponível -->
            <img src="{{ brand.image.url }}" alt="{{ brand.name }}" class="brand-image">
        </div>
        <div class="brand-details">
            <h2 class="brand-name">{{ brand.name }}</h2>
            <p class="brand-description">{{ brand.description }}</p>
        </div>
    </div>
{% endblock %}
