{% load static %}

{% block extra_css %}
<!-- Adicione Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static 'navbar/css/navbar.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <div class="navbar-content">
        <!-- Ícone do menu -->
        <div class="menu-icon">
            <i class="bi bi-list"></i>
        </div>

        <!-- Links de navegação -->
        <ul class="nav-categories">
            <li><a href="{% url 'instruments' %}">Instrumentos</a></li>
            <li><a href="{% url 'accessories' %}">Acessórios</a></li>
            <li><a href="{% url 'new' %}">Novo</a></li>
            <li><a href="{% url 'discount' %}">Descontos</a></li>
            <li><a href="{% url 'highlights' %}">Destaques</a></li>
        </ul>

        <!-- Ícones de carrinho e perfil -->
        <div class="nav-icons">
            <i class="bi bi-cart icon"></i>
            <i class="bi bi-person icon"></i>
        </div>
    </div>
</div>
{% endblock %}
