{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'product_card/css/product_card.css' %}">
{% endblock %}

{% block content %}
<div class="products-grid">
    {% for product in products %}
    <div class="card-container">
        <div class="product-card">
            <div class="image-wrapper">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
            </div>
            <div class="product-details">
                <h2 class="product-brand">{{ product.brand }}</h2>
                <p class="product-price">{{ product.price }}</p>
                <p class="product-description">{{ product.description }}</p>
                {% if product.stock > 0 %}
                    <p class="product-stock text-success">Em stock: {{ product.stock }}</p>
                {% else %}
                    <p class="product-stock text-danger">Sem Stock</p>
                {% endif %}
                
                <!--
                <div class="availability">
                    <span class="availability-item">{{ product.colors|length }} Cores Disponiveis</span>
                    <span class="availability-item">{{ product.sizes|length }} Disponiveis</span>
                </div>
                -->

                <div class="action-buttons">
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary edit-btn">Editar</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger delete-btn">Remover</a>
                    <a href="{% url 'add_to_basket' product.id %}" class="btn btn-secondary basket-btn">Adicionar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}