<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>

    {% block head %}{% endblock %}
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="sidebar">
        <h4 class="text-center text-light mb-3">Pagina de Administrador</h4>
        <a href="{% url 'admin' %}">Dashboard</a>
        
        <button class="dropdown-btn">Adicionar</button>
        <div class="dropdown-container">
            <a href="{% url 'add_content' tablename='dynamic_content.products' %}">Produto</a>
            <a href="{% url 'add_content' tablename='dynamic_content.stock' %}">Stock</a>
            <a href="{% url 'add_content' tablename='static_content.categories' %}">Categorias</a>
            <a href="{% url 'add_content' tablename='static_content.brands' %}">Marcas</a>
        </div>
        
        <button class="dropdown-btn">Editar/Eliminar</button>
        <div class="dropdown-container">
            <a href="{% url 'adminview' tablename='dynamic_content.products' %}">Produtos</a>
            <a href="{% url 'adminview' tablename='static_content.categories' %}">Categorias</a>
            <a href="#">Marcas</a>
            <a href="{% url 'adminview' tablename='hr.users' %}">Utilizadores</a>
        </div>
        
        <a href="{% url 'index' %}">Vista de Utilizador comum</a>
    </div>
    
    <div class="content">
        {% block content %}
        <h2>Welcome to the Dashboard</h2>
        {% endblock %}
    </div>
    
    <script>
        var dropdowns = document.getElementsByClassName("dropdown-btn");
        for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].addEventListener("click", function() {
                this.nextElementSibling.classList.toggle("d-block");
            });
        }
    </script>
</body>
</html>