{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'top_bar/css/top_bar.css' %}">
{% endblock %}

{% block content %}
<div class="top-bar">
    <ul class="nav-list">
        {% for category in categories %}
        <li class="nav-item">
            <a href="{% url 'category_detail_accessories' category.categoryid %}" class="nav-link">
                {{ category.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% comment %} {% url 'category_detail' category.categoryid %} {% endcomment %}
{% endblock %}
