{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'top_bar/css/top_bar.css' %}">
{% endblock %}

{% block top_bar %}
<div class="top-bar">
    <ul class="nav-list">
        <li class="nav-item">Bateria e Percussão</li>
        <li class="nav-item">Microfones</li>
        <li class="nav-item">Guitarras e Baixos</li>
        <li class="nav-item">Teclados</li>
        <li class="nav-item">Equipamentos PA</li>
        <li class="nav-item">Acessórios</li>
    </ul>
</div>
{% endblock %}
